@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;

    --darkGreen: #2e4428;
    --aliveGreen: #d7ffc2;
    --lightYellow: #ffffdf;
    --pink: #ffb3e8;
    --moseGreen: #5c571a;
    --brown: #422d27;
    --headershadow: 4px 4px 4px #000000cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    scroll-behavior: smooth;
}

p {
    font-size: 1rem;
    color: var(--darkGreen);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background: var(--lightYellow);
}

/* Header nav */


/* Martin start */


/* Sebastian start */



/* Melanie start */












/* Tab bar */
.tab-bar-container {
    width: 100%;
    background-color: var(--darkGreen);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.3rem;
}

.tab-bar-container a {
    font-size: 35px;
    color: var(--aliveGreen);
}

